schemas/atom.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  -*- rnc -*-
  RELAX NG Compact Syntax Grammar for the Atom Format Specification
  RFC 4287 Appendix B (Informative)
-->
<grammar ns="http://www.w3.org/1999/xhtml" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <choice>
      <ref name="atomFeed"/>
      <ref name="atomEntry"/>
    </choice>
  </start>
  <!-- Common attributes -->
  <define name="atomCommonAttributes">
    <optional>
      <attribute name="xml:base">
        <ref name="atomUri"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <ref name="atomLanguageTag"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="undefinedAttribute"/>
    </zeroOrMore>
  </define>
  <define name="undefinedAttribute">
    <attribute>
      <anyName>
        <except>
          <name>xml:base</name>
          <name>xml:lang</name>
          <nsName ns=""/>
        </except>
      </anyName>
    </attribute>
  </define>
  <define name="undefinedContent">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="anyForeignElement"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="anyElement">
    <element>
      <anyName/>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="anyElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="anyForeignElement">
    <element>
      <anyName>
        <except>
          <nsName ns="http://www.w3.org/2005/Atom"/>
        </except>
      </anyName>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="anyElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!-- Text Constructs -->
  <define name="atomPlainTextConstruct">
    <ref name="atomCommonAttributes"/>
    <optional>
      <attribute name="type">
        <choice>
          <value>text</value>
          <value>html</value>
        </choice>
      </attribute>
    </optional>
    <text/>
  </define>
  <define name="atomXHTMLTextConstruct">
    <ref name="atomCommonAttributes"/>
    <attribute name="type">
      <value>xhtml</value>
    </attribute>
    <ref name="xhtmlDiv"/>
  </define>
  <define name="atomTextConstruct">
    <choice>
      <ref name="atomPlainTextConstruct"/>
      <ref name="atomXHTMLTextConstruct"/>
    </choice>
  </define>
  <!-- Person Construct -->
  <define name="atomPersonConstruct">
    <ref name="atomCommonAttributes"/>
    <interleave>
      <element name="atom:name">
        <text/>
      </element>
      <optional>
        <element name="atom:uri">
          <ref name="atomUri"/>
        </element>
      </optional>
      <optional>
        <element name="atom:email">
          <ref name="atomEmailAddress"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="extensionElement"/>
      </zeroOrMore>
    </interleave>
  </define>
  <!-- Date Construct -->
  <define name="atomDateConstruct">
    <ref name="atomCommonAttributes"/>
    <data type="dateTime"/>
  </define>
  <!-- Feed -->
  <define name="atomFeed">
    <element name="atom:feed">
      <ref name="atomCommonAttributes"/>
      <interleave>
        <zeroOrMore>
          <ref name="atomAuthor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="atomCategory"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="atomContributor"/>
        </zeroOrMore>
        <optional>
          <ref name="atomGenerator"/>
        </optional>
        <optional>
          <ref name="atomIcon"/>
        </optional>
        <ref name="atomId"/>
        <zeroOrMore>
          <ref name="atomLink"/>
        </zeroOrMore>
        <optional>
          <ref name="atomLogo"/>
        </optional>
        <optional>
          <ref name="atomRights"/>
        </optional>
        <optional>
          <ref name="atomSubtitle"/>
        </optional>
        <ref name="atomTitle"/>
        <ref name="atomUpdated"/>
        <zeroOrMore>
          <ref name="extensionElement"/>
        </zeroOrMore>
      </interleave>
      <zeroOrMore>
        <ref name="atomEntry"/>
      </zeroOrMore>
    </element>
  </define>
  <!-- Entry -->
  <define name="atomEntry">
    <element name="atom:entry">
      <ref name="atomCommonAttributes"/>
      <interleave>
        <zeroOrMore>
          <ref name="atomAuthor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="atomCategory"/>
        </zeroOrMore>
        <optional>
          <ref name="atomContent"/>
        </optional>
        <zeroOrMore>
          <ref name="atomContributor"/>
        </zeroOrMore>
        <ref name="atomId"/>
        <zeroOrMore>
          <ref name="atomLink"/>
        </zeroOrMore>
        <optional>
          <ref name="atomPublished"/>
        </optional>
        <optional>
          <ref name="atomRights"/>
        </optional>
        <optional>
          <ref name="atomSource"/>
        </optional>
        <optional>
          <ref name="atomSummary"/>
        </optional>
        <ref name="atomTitle"/>
        <ref name="atomUpdated"/>
        <zeroOrMore>
          <ref name="extensionElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <!-- Metadata elements -->
  <define name="atomAuthor">
    <element name="atom:author">
      <ref name="atomPersonConstruct"/>
    </element>
  </define>
  <define name="atomCategory">
    <element name="atom:category">
      <ref name="atomCommonAttributes"/>
      <attribute name="term"/>
      <optional>
        <attribute name="scheme">
          <ref name="atomUri"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="label"/>
      </optional>
      <ref name="undefinedContent"/>
    </element>
  </define>
  <define name="atomContent">
    <element name="atom:content">
      <ref name="atomCommonAttributes"/>
      <choice>
        <group>
          <optional>
            <attribute name="type">
              <choice>
                <value>text</value>
                <value>html</value>
              </choice>
            </attribute>
          </optional>
          <text/>
        </group>
        <group>
          <attribute name="type">
            <value>xhtml</value>
          </attribute>
          <ref name="xhtmlDiv"/>
        </group>
        <group>
          <optional>
            <attribute name="type">
              <ref name="atomMediaType"/>
            </attribute>
          </optional>
          <attribute name="src">
            <ref name="atomUri"/>
          </attribute>
          <empty/>
        </group>
        <group>
          <attribute name="type">
            <ref name="atomMediaType"/>
          </attribute>
          <zeroOrMore>
            <choice>
              <text/>
              <ref name="anyElement"/>
            </choice>
          </zeroOrMore>
        </group>
      </choice>
    </element>
  </define>
  <define name="atomContributor">
    <element name="atom:contributor">
      <ref name="atomPersonConstruct"/>
    </element>
  </define>
  <define name="atomGenerator">
    <element name="atom:generator">
      <ref name="atomCommonAttributes"/>
      <optional>
        <attribute name="uri">
          <ref name="atomUri"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="atomIcon">
    <element name="atom:icon">
      <ref name="atomCommonAttributes"/>
      <ref name="atomUri"/>
    </element>
  </define>
  <define name="atomId">
    <element name="atom:id">
      <ref name="atomCommonAttributes"/>
      <ref name="atomUri"/>
    </element>
  </define>
  <define name="atomLink">
    <element name="atom:link">
      <ref name="atomCommonAttributes"/>
      <attribute name="href">
        <ref name="atomUri"/>
      </attribute>
      <optional>
        <attribute name="rel">
          <choice>
            <ref name="atomNCName"/>
            <ref name="atomUri"/>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <ref name="atomMediaType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="hreflang">
          <ref name="atomLanguageTag"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="title"/>
      </optional>
      <optional>
        <attribute name="length"/>
      </optional>
      <ref name="undefinedContent"/>
    </element>
  </define>
  <define name="atomLogo">
    <element name="atom:logo">
      <ref name="atomCommonAttributes"/>
      <ref name="atomUri"/>
    </element>
  </define>
  <define name="atomPublished">
    <element name="atom:published">
      <ref name="atomDateConstruct"/>
    </element>
  </define>
  <define name="atomRights">
    <element name="atom:rights">
      <ref name="atomTextConstruct"/>
    </element>
  </define>
  <define name="atomSource">
    <element name="atom:source">
      <ref name="atomCommonAttributes"/>
      <interleave>
        <zeroOrMore>
          <ref name="atomAuthor"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="atomCategory"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="atomContributor"/>
        </zeroOrMore>
        <optional>
          <ref name="atomGenerator"/>
        </optional>
        <optional>
          <ref name="atomIcon"/>
        </optional>
        <optional>
          <ref name="atomId"/>
        </optional>
        <zeroOrMore>
          <ref name="atomLink"/>
        </zeroOrMore>
        <optional>
          <ref name="atomLogo"/>
        </optional>
        <optional>
          <ref name="atomRights"/>
        </optional>
        <optional>
          <ref name="atomSubtitle"/>
        </optional>
        <optional>
          <ref name="atomTitle"/>
        </optional>
        <optional>
          <ref name="atomUpdated"/>
        </optional>
        <zeroOrMore>
          <ref name="extensionElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="atomSubtitle">
    <element name="atom:subtitle">
      <ref name="atomTextConstruct"/>
    </element>
  </define>
  <define name="atomSummary">
    <element name="atom:summary">
      <ref name="atomTextConstruct"/>
    </element>
  </define>
  <define name="atomTitle">
    <element name="atom:title">
      <ref name="atomTextConstruct"/>
    </element>
  </define>
  <define name="atomUpdated">
    <element name="atom:updated">
      <ref name="atomDateConstruct"/>
    </element>
  </define>
  <!-- Extension -->
  <define name="extensionElement">
    <choice>
      <ref name="simpleExtensionElement"/>
      <ref name="structuredExtensionElement"/>
    </choice>
  </define>
  <define name="simpleExtensionElement">
    <element>
      <anyName>
        <except>
          <nsName ns="http://www.w3.org/2005/Atom"/>
        </except>
      </anyName>
      <text/>
    </element>
  </define>
  <define name="structuredExtensionElement">
    <element>
      <anyName>
        <except>
          <nsName ns="http://www.w3.org/2005/Atom"/>
        </except>
      </anyName>
      <choice>
        <group>
          <oneOrMore>
            <attribute>
              <anyName/>
            </attribute>
          </oneOrMore>
          <zeroOrMore>
            <choice>
              <text/>
              <ref name="anyElement"/>
            </choice>
          </zeroOrMore>
        </group>
        <group>
          <zeroOrMore>
            <attribute>
              <anyName/>
            </attribute>
          </zeroOrMore>
          <group>
            <optional>
              <text/>
            </optional>
            <oneOrMore>
              <ref name="anyElement"/>
            </oneOrMore>
            <zeroOrMore>
              <choice>
                <text/>
                <ref name="anyElement"/>
              </choice>
            </zeroOrMore>
          </group>
        </group>
      </choice>
    </element>
  </define>
  <!-- XHTML -->
  <define name="xhtmlDiv">
    <element name="xhtml:div">
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="anyXHTML"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="anyXHTML">
    <element>
      <nsName/>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="anyXHTML"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!-- Simple Types -->
  <define name="atomNCName">
    <data type="string">
      <param name="minLength">1</param>
      <param name="pattern">[^:]*</param>
    </data>
  </define>
  <define name="atomMediaType">
    <data type="string">
      <param name="pattern">.+/.+</param>
    </data>
  </define>
  <define name="atomLanguageTag">
    <data type="string">
      <param name="pattern">[A-Za-z]{1,8}(-[A-Za-z0-9]{1,8})*</param>
    </data>
  </define>
  <define name="atomUri">
    <text/>
  </define>
  <define name="atomEmailAddress">
    <data type="string">
      <param name="pattern">.+@.+</param>
    </data>
  </define>
</grammar>
