schemas/atom.rnc

# -*- rnc -*-
# RELAX NG Compact Syntax Grammar for the Atom Format Specification
# RFC 4287 Appendix B (Informative)

namespace atom = "http://www.w3.org/2005/Atom"
namespace xhtml = "http://www.w3.org/1999/xhtml"
namespace s = "http://www.ascc.net/xml/schematron"
namespace local = ""

start = atomFeed | atomEntry

# Common attributes
atomCommonAttributes =
   attribute xml:base { atomUri }?,
   attribute xml:lang { atomLanguageTag }?,
   undefinedAttribute*

undefinedAttribute = attribute * - (xml:base | xml:lang | local:*) { text }
undefinedContent = (text | anyForeignElement)*
anyElement = element * { (attribute * { text } | text | anyElement)* }
anyForeignElement = element * - atom:* { (attribute * { text } | text | anyElement)* }

# Text Constructs
atomPlainTextConstruct =
   atomCommonAttributes,
   attribute type { "text" | "html" }?,
   text

atomXHTMLTextConstruct =
   atomCommonAttributes,
   attribute type { "xhtml" },
   xhtmlDiv

atomTextConstruct = atomPlainTextConstruct | atomXHTMLTextConstruct

# Person Construct
atomPersonConstruct =
   atomCommonAttributes,
   (element atom:name { text }
    & element atom:uri { atomUri }?
    & element atom:email { atomEmailAddress }?
    & extensionElement*)

# Date Construct
atomDateConstruct =
   atomCommonAttributes,
   xsd:dateTime

# Feed
atomFeed =
   element atom:feed {
      atomCommonAttributes,
      (atomAuthor*
       & atomCategory*
       & atomContributor*
       & atomGenerator?
       & atomIcon?
       & atomId
       & atomLink*
       & atomLogo?
       & atomRights?
       & atomSubtitle?
       & atomTitle
       & atomUpdated
       & extensionElement*),
      atomEntry*
   }

# Entry
atomEntry =
   element atom:entry {
      atomCommonAttributes,
      (atomAuthor*
       & atomCategory*
       & atomContent?
       & atomContributor*
       & atomId
       & atomLink*
       & atomPublished?
       & atomRights?
       & atomSource?
       & atomSummary?
       & atomTitle
       & atomUpdated
       & extensionElement*)
   }

# Metadata elements
atomAuthor = element atom:author { atomPersonConstruct }
atomCategory =
   element atom:category {
      atomCommonAttributes,
      attribute term { text },
      attribute scheme { atomUri }?,
      attribute label { text }?,
      undefinedContent
   }
atomContent =
   element atom:content {
      atomCommonAttributes,
      ((attribute type { "text" | "html" }?, text)
       | (attribute type { "xhtml" }, xhtmlDiv)
       | (attribute type { atomMediaType }?,
          attribute src { atomUri },
          empty)
       | (attribute type { atomMediaType },
          (text | anyElement)*))
   }
atomContributor = element atom:contributor { atomPersonConstruct }
atomGenerator =
   element atom:generator {
      atomCommonAttributes,
      attribute uri { atomUri }?,
      attribute version { text }?,
      text
   }
atomIcon = element atom:icon { atomCommonAttributes, (atomUri) }
atomId = element atom:id { atomCommonAttributes, (atomUri) }
atomLink =
   element atom:link {
      atomCommonAttributes,
      attribute href { atomUri },
      attribute rel { atomNCName | atomUri }?,
      attribute type { atomMediaType }?,
      attribute hreflang { atomLanguageTag }?,
      attribute title { text }?,
      attribute length { text }?,
      undefinedContent
   }
atomLogo = element atom:logo { atomCommonAttributes, (atomUri) }
atomPublished = element atom:published { atomDateConstruct }
atomRights = element atom:rights { atomTextConstruct }
atomSource =
   element atom:source {
      atomCommonAttributes,
      (atomAuthor*
       & atomCategory*
       & atomContributor*
       & atomGenerator?
       & atomIcon?
       & atomId?
       & atomLink*
       & atomLogo?
       & atomRights?
       & atomSubtitle?
       & atomTitle?
       & atomUpdated?
       & extensionElement*)
   }
atomSubtitle = element atom:subtitle { atomTextConstruct }
atomSummary = element atom:summary { atomTextConstruct }
atomTitle = element atom:title { atomTextConstruct }
atomUpdated = element atom:updated { atomDateConstruct }

# Extension
extensionElement =
   simpleExtensionElement | structuredExtensionElement

simpleExtensionElement =
   element * - atom:* {
      text
   }

structuredExtensionElement =
   element * - atom:* {
      (attribute * { text }+,
       (text | anyElement)*)
    | (attribute * { text }*,
       (text?, anyElement+, (text | anyElement)*))
   }

# XHTML
xhtmlDiv = element xhtml:div { (attribute * { text } | text | anyXHTML)* }
anyXHTML = element xhtml:* { (attribute * { text } | text | anyXHTML)* }

# Simple Types
atomNCName = xsd:string { minLength = "1" pattern = "[^:]*" }
atomMediaType = xsd:string { pattern = ".+/.+" }
atomLanguageTag = xsd:string { pattern = "[A-Za-z]{1,8}(-[A-Za-z0-9]{1,8})*" }
atomUri = text
atomEmailAddress = xsd:string { pattern = ".+@.+" }
